z.button {
    color: rgba(30, 22, 54, 0.7);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 2px inset;
    text-decoration: none;
    margin-top: 1.2360679775rem;
}

z.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
    margin-top: 1.2360679775rem;
}